<aside class="sidebar">
  <p class="side-title">Navigation</p>
  <nav class="sidebar-nav">
    <a class="side-btn {{ active == 'dashboard' ? 'active' : '' }}" href="/">Dashboard</a>
    <a class="side-btn {{ active == 'location_new' ? 'active' : '' }}" href="/locations/new">New Location</a>
    <a class="side-btn {{ active == 'role_new' ? 'active' : '' }}" href="/roles/new">New Role</a>
    <a class="side-btn {{ active == 'npc_new' ? 'active' : '' }}" href="/npcs/new">New NPC</a>
  </nav>
</aside>
